.cart{
  width: 90%;
  max-width: 550px;
  margin: 20px auto;
}

.cart ion-list{
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #FFFFFF;
}

h1{
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: 900;
}
