<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-back-button text="Salir" slot="start" [routerLink]="['/login']"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="usuario">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card >
          <img [src]="usuario.image" />
          <ion-card-content>
            <ion-button size="small">{{usuario.gender}}</ion-button>
            <h2>{{usuario.firstName | uppercase }} {{usuario.lastName | uppercase}}</h2>
            <p>{{usuario.username | uppercase}}</p>
          </ion-card-content>

          <ion-card-content>
            <h2>Contacto: </h2>
            <p>{{usuario.email}}</p>
          </ion-card-content>

          <ion-card-content>
            <ion-button expand="block" fill="outline" [routerLink]="['/products']">Ir a Catalogo</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
